@import "./variables.css";
@import "./highlight.css";

body {
  font: 16px/1.6 "Source Sans Pro", serif;
  background: var(--bg);
  color: var(--text-color);
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

.container {
  margin: 0 auto;
}

.sticky {
  position: sticky;
  height: fit-content;
}

.wrap {
  padding: 60px;

  @media (max-width:768px) {
    padding: 20px;
  }
}

.wrap > .container {
  display: flex;

  @media (max-width:768px) {
    flex-direction: column;
  }
}

.main {
  width: calc(100% - var(--profile-width));
  padding-left: 30px;

  @media (max-width:768px) {
    padding-left: 0;
    width: 100%;
  }
}

.page-title {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 0 20px 0;
  line-height: 1.4;

  & svg {
    width: 1.6rem;
    height: 1.6rem;
  }
}

.page-content {
  font-size: 1.125rem;

  & p {
    margin: 0 0 16px 0;
  }

  &>*:first-child {
    margin-top: 0;
  }

  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    font-weight: 400;
  }

  & a:hover {
    text-decoration: underline;
  }

  & blockquote {
    background: var(--blockquote-bg);
    border-left: 8px solid var(--blockquote-border-color);
    margin: 20px 0;
    padding: 14px 16px;
    color: var(--blockquote-color);

    &>*:first-child {
      margin-top: 0;
    }

    &>*:last-child {
      margin-bottom: 0;
    }
  }
}

.card {
  display: block;
  padding: 20px;
  border-radius: 3px;
  color: var(--text-color);
  background-color: var(--card-bg);

  &:hover {
    box-shadow: inset 0 0 0 1px var(--border-color);
  }
}