@import "./variables.css";

body {
  font: 16px/1.6 "Source Sans Pro", serif;
  background: var(--bg);
  color: var(--text-color);
}

*, *:before, *:after {
  box-sizing: border-box;
}

::selection {
  background-color: var(--text-color);
  color: var(--bg);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.container {
  margin: 0 auto;
}

.sticky {
  position: sticky;
  height: fit-content;
}

.wrap {
  padding: 60px;

  @media (max-width:768px) {
    padding: 20px;
  }
}

.wrap > .container {
  display: flex;

  @media (max-width:768px) {
    flex-direction: column;
  }
}

.main {
  width: calc(100% - var(--profile-width));
  padding-left: 30px;

  @media (max-width:768px) {
    padding-left: 0;
    width: 100%;
  }
}

.page-title {
  font-size: 2.4rem;
  font-weight: 400;
  margin: 0 0 20px 0;
  line-height: 1.4;

  & svg {
    width: 1.6rem;
    height: 1.6rem;
  }
}

.page-content {
  font-size: 1.125rem;

  & p {
    margin: 0 0 16px 0;
  }

  &>*:first-child {
    margin-top: 0;
  }
}

.card {
  display: block;
  padding: 20px;
  border-radius: 3px;
  color: var(--text-color);
  background-color: var(--card-bg);

  &:hover {
    box-shadow: inset 0 0 0 1px var(--border-color);
  }
}
